@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

@keyframes mymove {
  from {
    background-color: transparent;
  }
  to {
    background-color: orange;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Tahoma, sans-serif;
}

.failure-view {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-img {
  width: 100%;
  max-width: 450px;
}

.search-box {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid gray;
  margin: 16px 0;
}

.bg-red {
  animation: mymove 0.2s;
  background: orange;
}

.person-row {
  transition: 0.5s all;
}

.row-checkbox {
  height: 20px;
  width: 20px;
}
